useDynLib(zinba)
# ------------------------------------------
# Export directives.  
# ------------------------------------------
export(peakbound)
export(basecountimport)
export(getsigwindows)
export(buildwindowdata)
export(run.zinba)
export(buildgcdata)
# ------------------------------------------
# S3method declarations.  
# ------------------------------------------
