useDynLib(zinba)
# ------------------------------------------
# Export directives.  
# ------------------------------------------
export(peakbound)
export(basecountimport)
export(getsigwindows)
export(buildwindowdata)
export(run.zinba)
export(estimatecnv)
export(simulatecounts)
export(getmixturewindows)
export(twobittofa)
export(twobitinfo)
# ------------------------------------------
# S3method declarations.  
# ------------------------------------------
