useDynLib(zinba)
# ------------------------------------------
# Export directives.  
# ------------------------------------------
export(alignAdjust)
export(peakbound)
export(basecountimport)
export(basealigncount)
export(getrefinedpeaks)
export(getsigwindows)
export(buildwindowdata)
export(run.zinba)
export(simulatecounts)
export(twobittofa)
export(twobitinfo)
export(fatotwobit)
export(zeroinfl)
export(startenrichment)
export(residuals.zeroinfl)
export(zcrosscorr)
export(convertmappability)
export(collapsewindows)
# ------------------------------------------
# S3method declarations.  
# ------------------------------------------
